<div *ngIf="!logged">
  <h1>Login form</h1>
  <p>Username: <input type="text" [(ngModel)]="username"></p>
  <p>Password: <input type="text" [(ngModel)]="password"></p>
  <button (click)="login()">Login</button>
</div>

<div *ngIf="logged">
  <app-main-page></app-main-page>
  <button (click)="logout()">Logout</button>
<!--  <a routerLink="/mainPage">hi</a>-->
</div>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->

<!--</head>-->
<!--<body>-->
<!--<main>-->
<!--  <div class="screen">-->
<!--    <div class="right">-->
<!--      <div class="container">-->
<!--        <div *ngIf="!logged">-->
<!--          <form action="#">-->
<!--            <div class="top-container">-->
<!--              <input-->
<!--                class="row1"-->
<!--                type="text"-->
<!--                placeholder="Login"-->
<!--                name="email"-->
<!--                id="email"-->
<!--                autofocus="1"-->
<!--                required-->
<!--                [(ngModel)]="username"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="middle-container">-->
<!--              <input-->
<!--                class="row2"-->
<!--                type="password"-->
<!--                placeholder="Password"-->
<!--                name="password"-->
<!--                id="password"-->
<!--                required-->
<!--                [(ngModel)]="password"-->
<!--              />-->

<!--            </div>-->


<!--            <button class="button1" (click)="login()">Login</button>-->
<!--          </form>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="logged">-->
<!--    <app-main-page></app-main-page>-->
<!--    <button (click)="logout()">Logout</button>-->
<!--    &lt;!&ndash;      <a routerLink="/mainPage">hi</a>&ndash;&gt;-->
<!--  </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->









