*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  /*flex-direction: row;*/
  /*overflow:scroll;*/
  background: #f0f2f5;
  min-width: 500px;
}

.screen{
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  overflow:hidden;
  width: 100%;
}


.screen .right .container{
  display: block;
   flex-direction: column;
  border: none;
  width:396px;
  margin-top:120px;
  margin-left: 78px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  height: 250px;
  border-radius:6px;

}

.right .container .top-container .row1{
  font-size: 17px;
  font-size: 17px;
  padding: 14px 16px;
  width: 360px;
  border-radius: 6px;
  background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
  border: 1px solid #dddfe2;
  text-align: start;
  line-height: 16px;
  margin-left: 20px;
  margin-top:15px;

}
.right .container .middle-container .row2{
  font-size: 17px;
  font-size: 17px;
  padding: 14px 16px;
  width: 360px;
  border-radius: 6px;
  background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
  border: 1px solid #dddfe2;
  text-align: start;
  line-height: 16px;
  margin-left: 20px;
  margin-top:12px;

}
.right .container .button1{
  background-color: #1877f2;
  border-color: transparent;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 325px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top:16px;
  margin-left: 20px;
  border-radius: 6px;
  text-shadow: none;
}
.right .container .button1:hover{
  background-color: #1166d7;
}
.fpassword{
  text-align: center;
  margin-top: 15px;
}
.fpassword1{
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.34;
}
.fpassword1:hover{
  text-decoration: underline;
}
/*.line{*/
/*  border-bottom: 1px solid #dadde1;*/
/*  margin: 20px 16px;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*}*/
/*.button{*/
/*  text-align: center;*/
/*}*/
/*.button2{*/
/*  background-color: #42b72a;*/
/*  border-color: #42b72a;*/
/*  color: #fff;*/
/*  box-sizing: content-box;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  font-weight: bold;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*  text-shadow: none;*/
/*  vertical-align: middle;*/
/*  font-family: Helvetica, Arial, sans-serif;*/
/*  font-size: 17px;*/
/*  border-radius: 6px;*/
/*  border: none;*/
/*  line-height: 48px;*/
/*  padding: 0 16px;*/
/*  cursor: pointer;*/
/*}*/
/*.button2:hover{*/
/*  background-color: #3ea729;*/
/*}*/
/*.cust{*/
/*  margin-top: 28px;*/
/*  margin-left: 90px;*/
/*  text-align: center;*/
/*  width:390px;*/

/*}*/
/*.create-page{*/
/*  display:inline;*/
/*  color:#1c1e21;;*/
/*  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;*/
/*  font-size: 14px;*/
/*  font-weight:normal;*/

/*}*/
/*.link{*/
/*  font-weight: bold;*/
/*  text-decoration: none;*/
/*  color: #1c1e21;*/
/*  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;*/
/*  cursor: pointer;*/
/*  font-size: 14px;*/
/*}*/
/*.link:hover{*/
/*  text-decoration: underline;*/
/*}*/
/*footer .top-footer ul  {*/
/*  display: flex;*/
/*  flex-direction:row;*/
/*  flex-wrap: wrap;*/
/*  padding-top: 30px;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  text-align: center;*/
/*  width: 740px;*/
/*  margin-left:218px;*/
/*}*/
/*.top-footer ul li  {*/
/*  display: flex;*/
/*  flex-direction:row;*/
/*  justify-content: space-between;*/


/*}*/
/*.top-footer ul li .ll{*/
/*  line-height: 1.34;*/
/*  display: inline-block;*/
/*  color: #737373;*/
/*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: subpixel-antialiased;*/
/*  font-size: 12px;*/
/*  text-decoration: none;*/

/*}*/
/*.top-footer ul li .ll:hover{*/
/*  text-decoration: underline;*/
/*}*/

/*.contentCurve{*/
/*  width: 980px;*/
/*  margin-left:218px;*/
/*  border-bottom: 1px solid #dddfe2;*/
/*  font-size: 1px;*/
/*  height: 8px;*/
/*  margin-top:8px;*/
/*  margin-bottom: 8px;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*}*/

/*.main-footer ul{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content:stretch;*/
/*  text-align: center;*/
/*  width: 940px;*/
/*  margin-left:218px;*/
/*  flex-wrap: wrap;*/
/*  padding-top: 5px;*/
/*}*/
/*.main-footer ul li{*/
/*  display: flex;*/
/*  flex-direction:row;*/



/*}*/
/*.main-footer ul li a{*/
/*  line-height: 1.34;*/
/*  display: inline-block;*/
/*  color: #8a8d91;*/
/*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: subpixel-antialiased;*/
/*  font-size: 12px;*/
/*  text-decoration: none;*/
/*  margin-right: 20px;*/
/*  margin-bottom: 5px;*/
/*  cursor: pointer;*/
/*  !* line-height: 1.6; *!*/


/*}*/
/*.main-footer ul li a:hover{*/
/*  text-decoration: underline;*/
/*}*/
/*.copyright{*/
/*  margin-top: 15px;*/
/*  margin-left:218px;*/

/*}*/
/*.copyright span{*/
/*  font-size: 11px;*/
/*  color: #737373;*/
/*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*  -webkit-font-smoothing: subpixel-antialiased;*/
/*  line-height: 1.34;*/

/*}*/

